/*
    Estilos generales
*/

* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5vw;

}

/*
    Estilos de los contenedores grandes
*/

html, body, main{

    height: 100vh;
    width: 100vw;

}

.mainContainer > .calculadora{
    height: 100%;
    width: 100%;
    padding: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    background: -webkit-radial-gradient(top,rgba(255,255,255,0.5),rgba(150,150,150,0.3)75%);
    background: -moz-radial-gradient(top,rgba(255,255,255,0.5),rgba(150,150,150,0.3)75%);

}

/*
    Estilos de las cajas de texto
*/

#textOperaciones {

    width: min(100vw, 600px);
    padding-inline: 32px;

    display: block;

    background-color: rgba(0, 0, 0, 0);
    border: none;

    text-align: right;
    font-size: 3.5vw;
}

#textOperaciones:focus {

    outline: none;

}

.cajaResult{

    width: min(100vw, 600px);
    padding-inline: 32px;

}

.signoIgual_PreResult {

    display: inline-flex;

}

/*
    Estilos de botones
*/

button {

    margin: auto;
    padding: .5vh;

    width: 5vw;
    height: 5vw;
    
    text-align: center;
    border-radius: 50%;
    
    background-color: rgba(0, 0, 0, 0);
    border: none;

    transition: 0.1s;
}

@media only screen and (min-width:700px){
  button:hover {
    
    color: white;
    background-color: rgba(255, 115, 0, 0.863);
    box-shadow: 0px 0px 15px rgba(255, 115, 0, 0.5);
    transform: scale(1.1);
    
    transition: all 0.1s linear 0s;
  }
  
  button:active {
    
    transform: scale(0.9);
    
    transition: all 0.1s linear 0s;
  }
}

#igual {

    border-radius: 0;
    width: 100%;

}

#del {

    font-size: 2.3vw;
    padding-inline: .5vw;

}

/*
    Estilos de las cajas de botones
*/

.cajaBotones {

    display: grid;
    grid-template-columns: repeat(4, 8vw);
    grid-template-rows: repeat(5, 5.5vw);

    align-items: center;
    justify-items: center;

    padding: 10px .5vw;

}

/*
    Posicionamiento de botones
*/

#sum {
    grid-column: 4;
    grid-row: 1;
}

#rest {
    grid-column: 4;
    grid-row: 2;
}

#mult {
    grid-column: 4;
    grid-row: 3;
}

#div {
    grid-column: 4;
    grid-row: 4;
}

#reset {
    grid-column: 1;
    grid-row: 4;
}

#porcent {
    grid-column: 3;
    grid-row: 4;
}

#igual {
    grid-column-start: 3;
    grid-column-end: 5;
}

/*
    Media queries
*/

@media only screen and (max-width: 500px){

    *{
        font-size: 10vw;
    }

    #textOperaciones {
        height: 20.5vw;
        font-size: 14vw;
    }

    button {
        width: 20vw;
        height: 20vw;
    }
  
  button:active{
    scale: .9;
    color: white;
    background-color: rgba(255, 115, 0, 0.863);
    box-shadow: 0px 0px 15px rgba(255, 115, 0, 0.5);
    
    transition: all .3s easy-out 0s;
  }

    .calculadora {
        height: 100vh;
        width: 100vw;

        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .cajaBotones {
        place-content: center;

        grid-template-columns: repeat(4, 25vw);
        grid-template-rows: repeat(5, 20vw);

        padding-top: 10px;
    }
    
}

@media only screen and (max-width: 820px) {
    
    *, #del {
        font-size: 5vw;
    }

    #textOperaciones {
        height: 21vw;
        font-size: 10vw;
    }

    button {
        width: 10vw;
        height: 10vw;
    }

    .calculadora {
        height: 80vh;
        width: 80vw;

        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .cajaBotones {
        place-content: center;

        grid-template-columns: repeat(4, 15vw);
        grid-template-rows: repeat(5, 10vw);

        padding-top: 10px;
    }

}

/*

Pendientes:

-hacer el diseño responsive(Realizado)

*/
